<md-nav-list>
  <md-list-item>
    <md-icon>home</md-icon>
    <a md-line routerLink="home">Home</a>
  </md-list-item>

  <md-list-item>
    <a md-line routerLink="works">My work</a>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <a md-menu-item routerLink="works/learn">Learn</a>
      <a md-menu-item routerLink="works/create">Create</a>
      <a md-menu-item routerLink="works/last-session">Last session</a>
    </md-menu>
  </md-list-item>



  <md-list-item>
    <md-icon>contacts</md-icon>
    <a md-line routerLink="about">Contact</a>
  </md-list-item>
</md-nav-list>
