<section class="row brand">
	<div class="brand-about">
		<div class="brand-name">
			<div class="brand-name-initials">
				<span>L</span>
				<span>&amp;</span>
				<span>C</span>
			</div>
			<h1>
				<span>LEARN AND CREATE</span>
			</h1>
		</div>
		<img src="assets/img/learnandcreate.png">
	</div>
</section>

<section class="row brand-detail-container">
	<div class="col brand-detail" [style.transform]="'scale('+homeScale+')'">
		<div class="brand-detail-title-container">
			<h1 class="brand-detail-title">Do it with your computer Technology is the key</h1>
		</div>
		
		<a routerLink='.'>Everyday, we make the world great!</a>
	</div>
</section>

<section class="col brand-description">
	<header><h1>Our Challenge</h1></header>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quis similique quo nisi dicta nulla eos cumque accusantium quaerat quos, minus cum dolore provident ab fuga, explicabo voluptatum obcaecati tempore, labore illum aut excepturi earum eum necessitatibus optio? At dolor maiores optio debitis velit dolore doloremque libero laboriosam dignissimos necessitatibus, qui, assumenda numquam ab, saepe.
	</p>
	<footer>
		<strong>Challenge accepted <md-icon>done</md-icon></strong> 
	</footer>
</section>

<section class="row brand-product brand-talking">
	<md-card class="brand-product-card">
		<md-card-title>Lorem ipsum</md-card-title>
		<md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
		<img md-card-image src="assets/img/address-158338.svg">
		<md-card-actions>
			<button md-button>More</button>
			<button md-button>Buy</button>
		</md-card-actions>
	</md-card>
	<md-card class="brand-product-card">
		<md-card-title>Lorem ipsum</md-card-title>
		<md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
		<img md-card-image src="assets/img/address-158338.svg">
		<md-card-actions>
			<button md-button>Lorem</button>
			<button md-button>Lorem</button>
		</md-card-actions>
	</md-card>
	<md-card class="brand-product-card">
		<md-card-title>Lorem ipsum</md-card-title>
		<md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
		<img md-card-image src="assets/img/address-158338.svg">
		<md-card-actions>
			<button md-button>More</button>
			<button md-button>Buy</button>
		</md-card-actions>
	</md-card>
	<md-card class="brand-product-card">
		<md-card-title>Lorem ipsum</md-card-title>
		<md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
		<img md-card-image src="assets/img/address-158338.svg">
		<md-card-actions>
			<button md-button>More</button>
			<button md-button>Buy</button>
		</md-card-actions>
	</md-card>
</section>

<section class="col brand-description">
	<header><h1>Our partners, lorem ipsum dolor.</h1></header>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis accusantium, eaque quasi recusandae eum provident dolore soluta ad quo quidem nemo fugit voluptatibus consequatur voluptatum, veritatis ratione explicabo libero error.
	</p>
	<footer>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, laboriosam.
	</footer>
</section>

<section class="row brand-work-overview">
	<md-tab-group class="full-width" dynamicHeight="true">
	  <md-tab>
	    <ng-template md-tab-label>
	      Html
	    </ng-template>
	    <code>
<pre>&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;Alien&lt;/title&gt;
  &lt;meta charset="utf-8"&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;p class="awesome"&gt;hello word&lt;/p&gt;
 &lt;/body&gt;
&lt;/html&gt;</pre>
</code>
	  </md-tab>
	  <md-tab>
	    <ng-template md-tab-label>
	      Css
	    </ng-template>
	    <code>
	    	<pre><var>.awesome{{'{'}}display:flex;{{'}'}}</var></pre>
	    </code>
	  </md-tab>
	  <md-tab>
	    <ng-template md-tab-label>
	      Javascript
	    </ng-template>
	    <code>
<pre>
<var>var sun="shine"</var>
alert(sun)
</pre>
	    </code>
	  </md-tab>
	</md-tab-group>
</section>