<md-card>
  <md-card-content>
    <div class="brand-about">
      <div class="brand-name">
        <div class="brand-name-initials">
          <span>L</span>
          <span>&amp;</span>
          <span>C</span>
        </div>
        <h1>
          <span>LEARN AND CREATE</span>
        </h1>
      </div>
      <img src="assets/img/learnandcreate.png">
    </div>
  </md-card-content>
</md-card>

<section class="full-width brand-description">
  <md-card>
    <md-card-title>
      Welcome
    </md-card-title>
    <p>
      Lorem will generate some texts here. I can do it simply with lorem and tab but since you can't understand this language
      it will hard for us to explain you, our goal. to sum up oh wait i have not finished yet.
      You know our courses are only designed for aliens and the mens who come from pluto, if you
      read this whole text i'm pretty sure that you are an alien. welcome here, I'm human and my name is lorem.
    </p>
    <p>
      Take your first lesson today.
    </p>
  </md-card>
</section>

<md-card>
  <div class="row">
    <md-card class="brand-product-card">
      <md-card-title>JAVASCRIPT</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/rect5798.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
    <md-card class="brand-product-card">
      <md-card-title>HTML</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/html-body.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
    <md-card class="brand-product-card">
      <md-card-title>CSS</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/styles-life.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
    <md-card class="brand-product-card">
      <md-card-title>C++</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/better-see.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
    <md-card class="brand-product-card">
      <md-card-title>PYTHON</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/play-pi.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
    <md-card class="brand-product-card">
      <md-card-title>JAVA</md-card-title>
      <md-card-subtitle>Lorem ipsum dolor sit</md-card-subtitle>
      <img md-card-image src="assets/img/java-cast.png">
      <md-card-actions>
        <button md-button>More</button>
        <button md-button>Learn</button>
      </md-card-actions>
    </md-card>
  </div>
</md-card>


<md-card>
  <section class="col brand-description">
    <header><h1>Our partners, lorem ipsum dolor.</h1></header>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis accusantium, eaque quasi recusandae eum provident
      dolore soluta ad quo quidem nemo fugit voluptatibus you know when define is not define consequatur voluptatum, veritatis ratione explicabo libero
      error.
    </p>
    <footer>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, laboriosam.
    </footer>
  </section>
</md-card>

<section class="row">
  <md-toolbar color="primary">
    <span>The MEAN STACK</span>
  </md-toolbar>
  <md-grid-list cols="2" rowHeight="fit" class="full-width catalog-grid-list">
    <md-grid-tile *ngFor="let tile of tiles">
      <md-grid-tile-header>{{tile.header}}</md-grid-tile-header>
      <a routerLink="work" class="catalog-grid-list-content">
        <img class="catalog-grid-list-img" src="{{tile.img}}" alt="">
      </a>
      <md-grid-tile-footer>
        <a href="{{tile.footer.link}}"
           md-button mdTooltip="{{tile.footer.tooltip}}"
           mdTooltipPosition="above">{{tile.footer.company}}
        </a>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</section>
