/** Brand home **/
.brand {
  min-height: 500px;
}

@media only screen and (max-width: 400px) {
  .brand {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .brand-name-initials {
    padding: 3.125rem;
  }
}

.brand-name {
  display: inherit;
  flex-flow: column nowrap;
  font-size: 2em;
  font-weight: 700;
}

.brand-name h1 {
  text-align: center;
  color: #E91E63;
}

.brand-name-initials {
  display: flex;
  justify-content: space-between;
  color: #FF9800;
}

.brand-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.brand-about img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

/** Brand description **/

.brand-description {
  background-color: #f5f5f5;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
}


.brand-product-card {
  width: 300px;
  margin: 5px;
}

/** Animation **/

@keyframes borderTurn {
  0% {
    border-left-color: #369;
    border-top-color: #369;
    border-right-color: #369;
  }
  25% {
    border-bottom-color: #369;
  }
}

/** grid list**/
md-grid-tile {
  background: #ffffff;
}

.catalog-grid-list {
  height: 800px;
}

.catalog-grid-list md-grid-tile-footer {
  background-color: #00BCD4
}

.catalog-grid-list-img {
  max-width: 25vw;
  min-width: 10vw;
}

@media only screen and (max-width: 500px) {
  .catalog-grid-list-img {
    max-width: 20vw;
  }

  .catalog-grid-list {
    height: 400px;
  }
}


md-card{
  box-shadow: none!important;
}
