<section class="row brand">
	<div class="brand-about">
		<div class="brand-name">
			<div class="brand-name-initials">
				<span>L</span>
				<span>A</span>
				<span>C</span>
			</div>
			<h1>
				<span class="pr-color">LEARN</span> 
				<span class="snd-color">AND</span>
				<span class="lst-color">CREATE</span>
			</h1>
		</div>
		<img src="assets/img/hummingbird-pixabay.svg">
	</div>
</section>

<section class="row brand-detail">
	<div class="about" [style.opacity]="homeImgOpacity" [style.transform]="'scale('+homeScale+')'">
		<p>Everyday, make the world great !</p>
	</div>
</section>

<section class="row work">
	<md-tab-group class="full-width" dynamicHeight="true">
	  <md-tab>
	    <ng-template md-tab-label>
	      Html
	    </ng-template>
	    <code>
<pre>&lt;html&gt;
 &lt;head&gt;
  &lt;title&gt;Alien&lt;/title&gt;
  &lt;meta charset="utf-8"&gt;
 &lt;/head&gt;
 &lt;body&gt;
  &lt;p&gt;hello word&lt;/p&gt;
 &lt;/body&gt;
&lt;/html&gt;</pre>
</code>
	  </md-tab>
	  <md-tab>
	    <ng-template md-tab-label>
	      Css
	    </ng-template>
	    <code>
	    	<pre>
	    		<var>var sun="shine"</var>
	    	</pre>
	    </code>
	  </md-tab>
	  <md-tab>
	    <ng-template md-tab-label>
	      Javascript
	    </ng-template>
	    <code>
<pre>
<var>var sun="shine"</var>
alert(sun)
</pre>
	    </code>
	  </md-tab>
	</md-tab-group>

</section>