header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
}
.main-header-title{
	display: flex;
	height: 100%;
	min-width: 234px;
	justify-content: space-between;
	align-items: center;
}
.brand{
	display: flex;
}

.brand-name{
	display: inherit;
	align-items: center;
	line-height: 12px;
	font-size: 12px;

}
.brand-logo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
@media (max-width:400px ){
	.brand-name{
		display: none;
	}
}


header > md-progress-bar > div.mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element{
	    transition: transform 250ms ease-out,stroke .3s cubic-bezier(0.4, 0, 1, 1);
}


.sidenav{
	width: 250px;
	background: #fff;
}

.sidenav a{
	padding: 4px 0;
}

.menu-btn{
	height: 100%;
}
.container{
	margin-top: 64px;
}

footer{
	padding: 20px 0 0 0;
}
.pre-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	margin-bottom: 10px;
}
.pre-footer-card{
	width: 300px;
}
.pre-footer-card-avatar{
	background-image: url('/assets/img/macbook-pixabay.jpg');
	background-size: cover;
}
.pre-footer-card-last{
	float: right;
}
.copyright{
	font-size: 14px;
}
@media (max-width: 400px){
	.pre-footer{
		justify-content: center;		
	}
}
