header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.main-header{
	background:#03A9F4;
}
.main-header-title{
	display: flex;
	height: 100%;
	min-width: 202px;
	justify-content: space-between;
	align-items: center;
}
.brand{
	display: flex;
}
.brand>button{
	margin: 0 1rem;
}
.search-toolbar{
	background: #fff;
	box-shadow: 0 2px 2px 2px rgba(0,0,0,.3);
}
.search-toolbar-close{
	margin-right: 20px; 
}
.search-toolbar-form{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.search-toolbar-form>button{
	margin-left: 20px;
}

.search-toolbar-form input-container{
	flex: 1 1 auto;
}
@media (max-width:400px ){
	.brand-name{
		display: none;
	}
}
header > md-progress-bar > div.mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element{
	    transition: transform 250ms ease-out,stroke .3s cubic-bezier(0.4, 0, 1, 1);
}

/** Side nav **/

.sidenav{
	position: fixed;
	margin-top: 61px;
	left: 0;
	width: 218px;
	background: #607D8B;
	transition: transform .4s cubic-bezier(.25,.8,.25,1);
}

.sidenav a{
	padding: 4px 0;
	color: #fff;
}

.menu-btn{
	height: 100%;
}
.container{
	margin-top: 64px;
}

/** Footer **/

footer md-toolbar{
	background: #03A9F4;
}
.pre-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
	margin-bottom: 10px;
}
.pre-footer-card{
	width: 300px;
}
.pre-footer-card-avatar{
	background-image: url('/assets/img/macbook-pixabay.jpg');
	background-size: cover;
}
.pre-footer-card-last{
	float: right;
}
.copyright{
	font-size: 14px;
}
@media (max-width: 400px){
	.pre-footer{
		justify-content: center;		
	}
}
