<header>
	<md-toolbar color="primary" class="main-header">
		<div class="main-header-title">
			<span>The Ultimate</span>
			<button md-button class="menu-btn" (click)="sidenav.toggle()">
				<i class="material-icons">menu</i>
		    </button>
		</div>
		<div class="brand">
			<img class="brand-logo" src="assets/logo-pixabay.svg">
			<span class="brand-name">Kingdom</span>
		</div>	
	</md-toolbar>
	<md-progress-bar [color]="primary" [mode]="determinate" [value]="pageProgress"></md-progress-bar>
</header>

<md-sidenav-container class="container">
	<md-sidenav #sidenav class="sidenav" opened="true" align="right" mode="side">
		<a md-button routerLink="home" routerLinkActive="active"><i class="material-icons">home</i>&nbsp;<span>Home</span></a>
		<a md-button routerLink="templates" routerLinkActive="active"><i class="material-icons">explore</i>&nbsp;<span>Template</span></a>
		<a md-button routerLink="works" routerLinkActive="active"><i class="material-icons">code</i>&nbsp;<span>My work</span></a>
	</md-sidenav>
	<main>
		<router-outlet></router-outlet>
		
	</main>
	<footer>
		<div class="pre-footer">
			<md-card class="pre-footer-card">
			  <md-card-header>
			    <div md-card-avatar class="pre-footer-card-avatar"></div>
			    <md-card-title>Flexbox Layout</md-card-title>
			    <md-card-subtitle>Responsive deisgn</md-card-subtitle>
			  </md-card-header>
			  <img md-card-image src="assets/img/seo-pixabay.jpg">
			  <md-card-content>
			    <p>
			     Mobile first, unobtrusive JavaScript, and progressive enhancement are related concepts that predate RWD.
			    </p>
			  </md-card-content>
			  <md-card-actions>
			    <button md-button>Wikipedia</button>
			    <button md-button class="pre-footer-card-last">LEARN</button>
			  </md-card-actions>
			</md-card>
			<md-card class="pre-footer-card">
			  <md-card-header>
			    <div md-card-avatar class="pre-footer-card-avatar"></div>
			    <md-card-title>Flexbox Layout</md-card-title>
			    <md-card-subtitle>Responsive deisgn</md-card-subtitle>
			  </md-card-header>
			  <img md-card-image src="assets/img/seo-pixabay.jpg">
			  <md-card-content>
			    <p>
			     Mobile first, unobtrusive JavaScript, and progressive enhancement are related concepts that predate RWD.
			    </p>
			  </md-card-content>
			  <md-card-actions>
			    <button md-button>Wikipedia</button>
			    <button md-button class="pre-footer-card-last">LEARN</button>
			  </md-card-actions>
			</md-card>
			<md-card class="pre-footer-card">
			  <md-card-header>
			    <div md-card-avatar class="pre-footer-card-avatar"></div>
			    <md-card-title>Flexbox Layout</md-card-title>
			    <md-card-subtitle>Responsive deisgn</md-card-subtitle>
			  </md-card-header>
			  <img md-card-image src="assets/img/seo-pixabay.jpg">
			  <md-card-content>
			    <p>
			     Mobile first, unobtrusive JavaScript, and progressive enhancement are related concepts that predate RWD.
			    </p>
			  </md-card-content>
			  <md-card-actions>
			    <button md-button>Wikipedia</button>
			    <button md-button class="pre-footer-card-last">LEARN</button>
			  </md-card-actions>
			</md-card>
		</div>
		<md-toolbar color="primary">
			<span class="copyright">© 2017 Example</span>	
		</md-toolbar>
	</footer>
</md-sidenav-container>


