section{
  display: flex;
  flex-flow:  column nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  margin-top: 50px;
}

md-card{
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}


.submit-btn{
  margin-top: 30px;
}
