/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	background-color: #f5f5f5;
}

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.main-header .mat-toolbar-row{
	justify-content: space-between;
}